{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1>Create new Menu</h1>

    {{ include('menu/menu/_form.html.twig') }}

    <a href="{{ path('app_menu_menu_index') }}">back to list</a>
{% endblock %}
