{% extends 'base.html.twig' %}

{% block title %}Edit FoodCategory{% endblock %}

{% block body %}
    <h1>Edit FoodCategory</h1>

    {{ include('menu/food_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_menu_food_category_index') }}">back to list</a>
{% endblock %}
